.product-controls {
  display: flex;

  & > *:nth-child(1),
  & > *:nth-child(3) {
    padding-inline: 0;
    width: 2rem;
    font-size: 1.1rem;
  }

  & > *:nth-child(2) {
    flex: 1 1;
  }

  button {
    background-color: var(--primary-color-1);
    &:hover {
      background-color: var(--primary-color-1-hover);
      border-color: transparent;
    }
  }
  .product-decrement {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .product-increment {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .product-quantity {
    border: 1px solid var(--border-color);
    min-width: 0;
    outline: none;
    font-size: 1.1rem;
    text-align: center;
  }
  .product-quantity::-webkit-inner-spin-button {
    display: none;
  }
}

button.product-remove {
  width: 1.9rem;
  padding: 0.1rem;
  background-color: transparent;
  margin-inline-start: 0.5rem;

  svg {
    width: 100%;
  }

  &:hover {
    background-color: transparent;
  }
}
