.loading-content {
  display: flex;
  flex-direction: column;
  place-items: center;
  place-content: center;
  gap: 0.5rem;

  height: 100%;
  max-width: var(--page-wrapper-mw);
  margin-inline: auto;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-color-3);

  img {
    width: 8rem;
  }
}
