ul {
  list-style-type: none;
}

.page-header,
.page-header-wrapper,
.page-header-left,
.page-header-right {
  display: flex;
  align-items: center;
}

.page-header {
  justify-content: center;
  width: 100%;
}

.page-header-wrapper {
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);

  width: 100%;
  max-width: var(--page-wrapper-mw);

  @media screen and (max-width: 1430px) {
    padding-inline: 1rem;
  }
}

.page-header-right {
  position: relative;
  gap: 2rem;
  @media screen and (max-width: 750px) {
    gap: 1.5rem;
  }
}

.page-brand {
  padding-inline-end: 2rem;

  h1 {
    font-family: var(--fonts-1);
    letter-spacing: 1px;
    font-size: 2rem;
    @media screen and (max-width: 750px) {
      font-size: 1.75rem;
    }
  }
}

.menu-icon,
.close-icon,
.cart-icon {
  margin-block-start: 0.2rem;
  width: 1.5rem;
  @media screen and (max-width: 750px) {
    width: 1.2rem;
  }
}

.cart-icon {
  position: relative;
  container-type: inline-size;
}

.cart-icon-total {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40%;
  right: -40%;
  width: 80cqw;
  aspect-ratio: 1/1;
  background-color: var(--primary-color-1);
  border-radius: 100%;
  color: var(--text-color-5);
  font-size: 60cqw;
  z-index: 1;

  span {
    margin-block-start: -0.1rem;
  }
}

button:has(.menu-icon) {
  display: none;

  @media screen and (max-width: 750px) {
    display: block;
  }
}
.menu-icon {
  margin-inline-end: 1rem;
  padding-block: 1.5rem;
  @media screen and (max-width: 750px) {
    padding-block: 1.25rem;
  }
}

button:has(.close-icon) {
  display: none;

  @media screen and (max-width: 750px) {
    display: block;
  }
}

button:has(.user-avatar):hover {
  border-radius: 100%;
  outline: 2px solid var(--primary-color-1);
}
.user-avatar {
  width: 2.75rem;
  @media screen and (max-width: 750px) {
    width: 2.25rem;
  }
}
