.products-wrapper {
  max-width: var(--page-wrapper-mw);
  margin-inline: auto;
}

.products-header {
  margin-block-end: var(--page-header-gap);
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.25rem;
}
