#root {
  display: flex;
  flex-direction: column;
  width: 100%;

  & > *:nth-child(2) {
    flex: 1;
  }
}

.btn-clean {
  border: none;
  padding: 0;
  background-color: transparent;
}

button {
  svg {
    fill: var(--text-color-4);
  }
  path {
    stroke: var(--text-color-4);
  }

  &:hover svg {
    fill: var(--text-color-1);
  }
  &:hover path {
    stroke: var(--text-color-1);
  }

  &:hover .close-icon path {
    stroke: var(--color-danger);
    fill: var(--color-danger);
  }
}

main {
  padding-block-start: 6.5rem;
  padding-block-end: 3rem;
  padding-inline: 1rem;
  position: relative;
  z-index: 0;

  @media screen and (max-width: 750px) {
    padding-block-start: 5.5rem;
  }
}

.page-footer {
  text-align: center;

  span {
    color: var(--primary-color-1);
  }
}

.primary-button {
  background-color: var(--primary-color-1);
  border-radius: 0.5rem;
  color: var(--text-color-1);
  display: block;
  font-size: 1.1rem;
  font-weight: 600;
  margin-block-start: 1rem;
  text-align: center;
  padding-block: 0.7rem;
  width: 100%;

  &:hover {
    background-color: var(--primary-color-1-hover);
    color: var(--text-color-1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(-10%);
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
